     
h1 {
     text-decoration: underline;
   }
 #my_img {
     margin:0px 50px 10px 5px;
     width: 200;
     height: 200;
     border: 5px solid #FFD700;
     }
 h2 {
    background-color: darkturquoise;padding=5px;
       }
 #my_name {
font-size: 35px;
   }
 
   body {
   border: 10px solid black;
   padding-bottom: 100px;
   padding-right: 100px;
   padding-left: 100px;
   background-color:whitesmoke;
 }
  u {
    text-decoration: none;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

